<!DOCTYPE html>
<html>
<head>
  <title>TonyBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<% if current_user %>
	  Logged in as <%= current_user.email%>! (<%= link_to "Log out!", logout_path%>) 
	<% else %>
	  NOT logged in!
	<% end %>
	
<p><%= session %></p>

<p>Your IP address is: <%= request.remote_ip %></p>

	<% if flash[:notice]%>
	<p><%= flash[:notice]%></p>
	<%end%>

<%= yield %>

</body>
</html>
