<!DOCTYPE html>
<html>
<head>
  <title>TonyBlog</title>
  <%= stylesheet_link_tag    "global", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	
	<% if current_user %>
	  Logged in as <%= current_user.email%>! (<%= link_to "Log out!", logout_path%>) 
	<% else %>
	  NOT logged in!
	<% end %>
	
<p><%= session %></p>

<p>Your IP address is: <%= request.remote_ip %></p>

	<% if flash[:notice]%>
	<p><%= flash[:notice]%></p>
	<%end%>
	
	
	<header>
		<div id="links">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">Portfolio</a></li>
			</ul>
		</div>
		<div class="logo">
			<h1>!TONY PLAZA!<h1>
		</div>
	</header>
	
	<div id ="container">
		<div class="fancy_background">
			<body>
				<%= yield %>
			</body>
		</div>	
	</div>
		
	<footer>
		<p>Copyright Tony Plaza</p>
	</footer>


</body>
</html>
